body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 50%;
    animation: modalOverlay ease 0.25s;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    animation: modalFadeIn ease 0.5s;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        top: 0;
    }
    to {
        opacity: 1;
        top: 50%;
    }
}

@keyframes modalOverlay {
    from {
        opacity: 0;
    }
    to {
        opacity: 50%;
    }
}

@keyframes modalClosing {
    from {
        opacity: 1;
        top: 50%;
    }
    to {
        opacity: 0;
        top: 0;
    }
}

.modalClose {
    animation: modalClosing ease 0.5s;
}

#ipDisplay {
    background: #181a1b;
    color: white;
    width: fit-content;
    border-radius: 5px;
}